<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vijaykumawat.Leyaa">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher_foreground"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".LoginPage"/>
        <activity android:name=".RoomListActivity"/>
        <activity android:name=".Registration"/>

        <activity android:name=".InvitationListActivity"/>
        <activity android:name=".Room_Creation" />
        <activity android:name=".Inside_Room_Activity" />
        <activity android:name=".EditRoomName" />
        <activity android:name=".ProfilenameChange" />
        <activity android:name=".ProfilePage" />
        <activity android:name=".RoomMemberInfo"/>
        <activity android:name=".MemberAdd"/>
        <activity android:name=".Edit_Item"/>
        <activity android:name=".Add_Item" />

        <activity android:name=".SplitBill_Member_Info"/>
        <activity android:name=".Split_Add_Bill"/>
        <activity android:name=".Bill_Transaction"/>
        <activity android:name=".RemindersActivity"/>




        <activity android:name=".ChatRoom"/>


        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>



        <service
            android:name="com.vijaykumawat.Leyaa.NotificationService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>

        <receiver android:name="com.vijaykumawat.Leyaa.NotificationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>



    </application>



</manifest>
