<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vijaykumawat.Leyaa">

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_leyaa_logo_notification"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_leyaa_logo_notification"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".LoginPage"/>
        <activity android:name=".RoomListActivity"/>
        <activity android:name=".Registration"/>

        <activity android:name=".InvitationListActivity"/>
        <activity android:name=".Room_Creation" />
        <activity android:name=".Inside_Room_Activity" />
        <activity android:name=".EditRoomName" />
        <activity android:name=".ProfilenameChange" />
        <activity android:name=".ProfilePage" />
        <activity android:name=".RoomMemberInfo"/>
        <activity android:name=".MemberAdd"/>
        <activity android:name=".Edit_Item"/>
        <activity android:name=".Add_Item" />

        <activity android:name=".SplitBill_Member_Info"/>
        <activity android:name=".SplitBill_Individual_Activity"/>
        <activity android:name=".Split_Add_Bill"/>
        <activity android:name=".Bill_Transaction"/>



        <activity android:name="Alarm_MainActivity"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="AddReminderActivity"
            android:label="@string/title_activity_add_reminder"
            android:parentActivityName="Alarm_MainActivity"
            android:theme="@style/AppTheme">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Alarm_MainActivity"
                />
        </activity>
        <provider
            android:name="com.vijaykumawat.Leyaa.data.AlarmReminderProvider"
            android:authorities="com.vijaykumawat.Leyaa"
            android:exported="false" />

        <service
            android:name="com.vijaykumawat.Leyaa.reminder.ReminderAlarmService"
            android:exported="false" />


        <activity android:name=".ChatRoom"/>


        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


    </application>



</manifest>
